@charset "UTF-8";
$my-brand: #000;
$my-brand-hover: #808080;
$my-masthead: #808080;
$my-masthead-hover: #666;
$my-navbar: #03A9F4;
$my-navbar-hover: #B3E5FC;
$my-bg: #03A9F4;
$my-bg-hover: #0288D1;
$my-accent: #78909C;
$def-text: #727272;

$jukensei: #b3e5fc;
$zaikousei: #f8bbd0;
$kigyou: #f0f4c3;

$exam: #718C2A;
$student: #F3B2C1;
$news: #CB992D;
$announcement: #6DA2AD;
$media: #B09CCA;
$public: #CB992D;
$company: #6DA2AD;
$outside: #B09CCA;

$exam: #43A047;
$student: #EC407A;
$news: #FF7043;
$announcement: #26C6DA;
$media: #7E57C2;
$public: #FFA726;
$company: #5C6BC0;
$outside: #AFB42B;