@charset "UTF-8";
// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "var";

@mixin irowake($bgcolor,$textcolor:#FFF){
	background-color: $bgcolor;
	color: $textcolor;
}

.linkicon{
	@extend .glyphicon;
	@extend .glyphicon-triangle-right;
}

a:hover img{
	@include opacity(.8);
}
/*-------------------------------------------ヘッダー */
//マストヘッド
#masthead{
	font-size: 0.9em;
	margin-top: 8px;
	.nav > li > a{
		padding: 10px 5px;
		color: $my-masthead;
		&:before{
			@extend .linkicon;
		}
		&:hover{
			color: $my-masthead-hover;
		}
	}	
}
.navbar-inverse{
	background-color: #fff;
	.navbar-toggle,
	.navbar-collapse,
	.navbar-form
	 {
		border-color: $my-navbar;
		.icon-bar {
		background-color: $my-navbar;
		}
	}
	.navbar-toggle{
		&:hover,
		&:focus{
			background-color: $my-navbar-hover;
		}
	}
	.navbar-brand{
		color: $my-brand;
		height: auto;
		&:hover,
		&:focus{
			color: $my-brand-hover;
		}
	}
}
.navbar-form{
	border-top: none;
}
.navbar-nav{
	margin: 0;
}

// グローバル
#globalNav{
	//background-color: $my-bg;
	border-top: 3px solid $my-bg-hover;
	border-bottom: 1px solid #ccc;
	@include gradient-vertical(#eee,#fff);
	li{
		padding-left: 0;
		padding-right: 0;
		border-right: 1px solid #ccc;
		&:first-child{
			border-left: 1px solid #ccc;
		}
		a{
		padding: 15px;
		color: #333;
		font-size: 1.1em;
		line-height: 1.15;
			span{
				font-size: 0.85em;
				color: #01579B;
				&:before {
					content: "\A";
					white-space: pre;
				}
			}
		}
	}
	.nav > li > a:hover,
	.nav > li > a:focus{
//		background-color: $my-bg-hover;
		@include gradient-vertical($my-bg-hover,#01579B);
		color: #fff;
		span{
			color: #B3E5FC;
		}
	}
}

/*-------------------------------------------メイン */
//メインビジュアル
#mainimagesArea{
	margin-top: 20px;
}

.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right{
	@extend .glyphicon-chevron-left;
	content: "\f053";
}
.carousel-control .fa-chevron-left:before {
	content: "\f053";
}
.carousel-control .fa-chevron-right:before {
	content: "\f054";
}

//訪問者別メニュー

#visitorsArea{
	.row{
		padding: 15px 0;
	}
	.link-button{
		@extend .text-center;
		border: 1px solid #aaa;
		margin: 5px 0;
		a{
			display: block;
			padding: 15px;
			border: 2px solid #fff;
			font-size: 1.3em;
			letter-spacing: 4px;
			color: #fff;
			@include gradient-vertical($my-bg-hover,#216FAD);
			&:hover{
				@include opacity(.8);
				text-decoration: none;
			}
		}
		.pink{
			background-color: #F8BBD0;
		}
		.blue{
			background-color: #BBDEFB;
		}
		.cyan{
			background-color: #B2EBF2;
		}
		.green{
			background-color: #C8E6C9;
		}
		.lime{
			background-color: #F0F4C3;
		}
		.orange{
			background-color: #FFE0B2;
		}
	}
	.nav{
		li{
			margin: 5px 0;
			a{
				padding: 15px;
			}
		}
	}
}

//メインエリア
#mainArea{
	.row {
		margin-bottom: 20px;
	}
}
//ニュース速報など
.entry{
	margin: 0 0 -7px;
	min-height: 3.1em;
	.published{
		font-weight: normal;
		text-align: left;
		width: 120px;
		float: left;
		clear: left;
	}
	.entry-meta {
		display: initial;
		float: left;
		width: 65px;
		text-align: center;
	}
	.entry-title{
		padding-left: 194px;
		padding-bottom: 10px;
		border-bottom: 1px dotted #ccc;
		&:last-child{
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	dd{
		margin-bottom: 10px;
	}
	//属性別色分け
	.exam{
		@include irowake($exam);
	}
	.student{
		@include irowake($student);
	}
	.news{
		@include irowake($news);
	}
	.announcement{
		@include irowake($announcement);
	}
	.media{
		@include irowake($media);
		margin-top: 0;
	}
	.public{
		@include irowake($public);
	}
	.company{
		@include irowake($company);
	}
	.outside{
		@include irowake($outside);
	}
}
//一覧を見る
.read-more{
	margin-top: 5px;
	a{
		&:before{
			@extend .linkicon;
		}
	}
}


//緊急メッセージ
.emergency{
	margin-left: 0;
	margin-right: 0;
	padding: 3px;
	background-color: #FF3F3F;
}
.emergency-heading {
	color: #fff;
	h1{
		margin: 0;
		font-size: 1.2em;
		line-height: 3.2em;
	}
}
.emergency-body{
	background-color: #fff;
	padding: 7px 15px 0;
	.entry{
		.published{
			width: 140px;
		}
		.entry-title{
			padding-left: 140px;
			padding-bottom: 5px;
		}
	}
}

//パネル
.panel-default > .panel-heading{
	@include gradient-vertical(#fff,#eee);
	color: #333;
}
.panel-title{
	color: #333;
}

//カレンダー
#library-calendar{
	.close{
		float: none;
		font-size: inherit;
		font-weight: normal;
		line-height: inherit;
		color: #212121;
		@include opacity(1);
		text-shadow: none;
		&:hover,
		&:focus{
			color: #212121;
			@include opacity(1);
			cursor: inherit;
		}
	}
	.calendar{
		float: left;
		margin-right: 10px;
		caption{
			font-size: 1.15em;
		}
		th,td {
			width: 35px;
			height: 35px;
			border: 1px solid #ccc;
			text-align: center;
		}
		th{
			background-color: $my-bg-hover;
			color: #fff;
		}
		td{
			&.weekday{
				background-color: #fff;
			}
			&.saturday{
				background-color: #BBDEFB;
			}
			&.sundayopen{
				background-color: #C8E6C9;
			}
			&.hourchange{
				background-color: #FFE0B2;
			}
			&.close{
				background-color: #F8BBD0;
			}
		}
	}
	.calendar-caption{
		margin-top: 2.8em;
		min-width: 200px;
		float: left;
		position: relative;
		li{
			margin-bottom: 1em;
			list-style: none;
			&.weekday:before{
				background-color: #fff;
			}
			&.saturday:before{
				background-color: #BBDEFB;
			}
			&.sundayopen:before{
				background-color: #C8E6C9;
			}
			&.hourchange:before{
				background-color: #FFE0B2;
			}
			&.close:before{
				background-color: #F8BBD0;
			}
			&:before{
				content: "";
				width: 1.4em;
				height: 1.4em;
				position: absolute;
				border: 1px solid #ccc;
				left: 1em;
			}
		}
	}

}

//バナー
.banner{
	margin-bottom: 10px;
	img{
		@extend .img-responsive;
	}
}

//パンくず
#breadcrumbArea{
	margin-bottom: 20px;
	padding-top: 5px;
	font-size: 0.9em;
	color: #fff;
	background-color: $my-bg-hover;
	.list-inline{
		margin-bottom: 5px;
	}
	li + li:before{
		content: ">";
		padding-right: 1em;
	}
	a{
		color: #fff;
	}
}

//メイン装飾関係
.main-contents{
	@import "typography";
}

.access{
	dt,dd{
		line-height: 1.6;
	}
	dt{
		width: 145px;
		float: left;
		clear: both;
	}
	dd{
		padding-left: 170px;
		margin-bottom: 15px;
	}
}
//イベント詳細
#event-wrap{
}
.event-h2{
	font-weight: 600;
	margin-top: 0;
}
.event-h3{
	
}
.event-h5{
	
}
.event-text{
	margin: 20px 0;
}
#event-image{
	display: table;
	width: 200px;
	figcaption{
		font-size: 0.85em;
	}
	&.right{
		float: right;
	}
	&.center{
		margin: 0 auto;
	}
}
//画像とキャプションとテキストのDCブロック
.mod-media-image{
	.media-right{
		float: right;
	}
	.media-left{
		float: left;
	}
	.media-center{
		figure{
			margin: 0 auto;
		}
	}
	figcaption{
		font-size: 0.85em;
	}
	.media-text{
		
	}
}

//画像付きページリスト
.thumbnail-page-list{
	padding: 0;
	li{
		width: 33.3%;
		float: left;
		padding: 15px;
		list-style: none;
		img{
			@extend .img-responsive;
		}
		h3{
			margin-bottom: 25px;
			color: $def-text;
			&:before{
				@extend .linkicon;
			}
		}
		&:hover{
			background-color: #eee;
		}
		a:hover{
			text-decoration: none;
		}
	}
}
//お問い合わせフォーム
.formidable{
	max-width: 800px;
	border: 1px solid #ccc;
	background-color: $my-navbar-hover;
	label{
		width: initial;
		text-align: left;
		margin-right: 5px;
		margin-bottom: 0;
	}
	.label span{
		margin-top: -5px;
	}
	.element{
		margin-bottom: 0;
		border-top: 1px solid #ccc;
		border-left: 5px solid $my-bg-hover;
		&.text:first-child {
			border-top: none;
		}
		&.text,
		&.emailaddress{
			border-left: 5px solid #f00;
		}
	}
	.buttons,
	.input{
		background-color: #fff;
		padding: 15px;
	}
	
}


/*-------------------------------------------サイドバー */
.sidebar{
	.side-heading{
		background-color: #f3f3f3;
		padding: 5px;
		border-top: 3px solid $my-bg-hover;
	}
	.side-nav{
		margin-left: -25px;
		li{
			list-style: none;
			margin-bottom: 6px;
			a:before{
				@extend .glyphicon;
				@extend .glyphicon-play-circle;
				margin-right: 5px;
			}
		}
	}
}

/*-------------------------------------------フッター */

#footArea{
//	background-color: $my-bg;
//	@include gradient-vertical($my-bg-hover,#01579B);
	border-top: 3px solid $my-bg-hover;
	border-bottom: 1px solid #ccc;
	@include gradient-vertical(#eee,#fff);
	.foot-heading{
		font-size: 1.2em;
		font-weight: 600;
		margin-top: 30px;
	}
	.row{
		margin-top: 25px;
		margin-bottom: 10px;
	}
	.logo{
		margin-top: 20px;
	}
	a{
//		color: #fff;
	}
}

.foot-navi{
	li{
		width: 24%;
		margin-bottom: 5px;
		display: inline-table;
		a{
			&:before{
				@extend .linkicon;
			}
		}
	}
}
#copyArea{
	padding: 10px 0;
}


@media(max-width: $screen-xs){
	.thumbnail-page-list{
		li{
			width: 50%;
		}
	}
}
@media(max-width: $screen-sm){
	.thumbnail-page-list{
		h3{
			font-size: 1.2em;
		}
	}
}